[[local|localrc]]
ADMIN_PASSWORD={{config.admin_secret}}
DATABASE_PASSWORD={{config.database_secret}}
RABBIT_PASSWORD={{config.broker_secret}}
SERVICE_PASSWORD={{config.service_secret|default("$ADMIN_PASSWORD")}}
FLOATING_RANGE={{config.floating_range}}
FIX_NETWORK_SIZE={{config.fix_network_size}}
FIX_RANGE={{config.fix_range}}
FLAT_INTERFACE={{config.flat_interface}}
LOGFILE=$DEST/logs/stack.sh.log
LOGDAYS={{config.log_days|default("2")}}
SWIFT_HASH={{ansible_date_time|hash('sha1') }}
SWIFT_REPLICAS={{config.swift_replicas|default('1') }}
SWIFT_DATA_DIR=$DEST/data